*{
  box-sizing: border-box; 
}
.container {
  display:inline-grid;
  border: 1px solid darkgray;
  /* grid-template: repeat(16,auto)/repeat(16,auto); */
  /* column-gap: 1px;
  row-gap: 1px; */
  
  /* transition: all 1s; */
}
.content {
  background-color: white;
  /* border: 1px solid black; */
  /* width: 60px;
  height: 60px;   */
  box-shadow: 0 0 chocolate;
  /* transition-duration: 0.2s; */
}
.moving {
  background-color: black;
  /* border: 2px solid rgb(76, 73, 73); */
  /* border-radius: 10px; */
  /* width: 60px;
  height: 60px;   */
  box-shadow: 0 0 violet;
  /* transform:scale(1.1); */
}
.butt{
  display: block;
  padding: 10px;
  background-color: yellow;
  text-align: center;
  margin-left: 5vw;
  border-radius: 5px;
}
